<div class="container">
  <h2>Posts List</h2>

    <% @posts.each do |post| %>
      <div class="col-xs-12 mb-2">
        <%= render 'card', post: post %>
      </div>
    <% end %>

  <%= link_to "Add new post", new_post_path if current_user %>

</div>
