// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-wrapper{
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.post-wrapper{
  border: 1px solid #c1c1c1;
  padding: 10px;
}

.comments-wrapper ul li{
  list-style: none;
  border: 1px solid #c1c1c1;
  margin: 15px;
  padding: 10px;
}
